body{
    background-color: #1E1647;
    text-align: center;
    color: white;
}

input{
    background-color: #614AD3;
    color: #1E1647;
    font-size: 24px;
    width: 340px;
    height: 70px;
}

h1{
    font-size: 40px;
}

#imagem{
    width: 380px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.text-y{
    color: #FFFF00;
    font-size: 20px;
}

::placeholder{
    color: #1E1647;
    opacity: 0.5;
    text-align: center;
    font-size: 24px;
}
